/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

.tile {
  display: flex;
  justify-content: center;
  background-color: LightGrey;
  aspect-ratio: 1;
}
