{{#each this.gridContents as |row|}}
  <div class="row small-up-5">
    {{#each row as |imageData|}}
      <div class="column column-block">
        <ImageTile @thumbnailUrl={{imageData}} />
      </div>
    {{/each}}
  </div>
{{/each}}
