{{#each this.gridContents as |row|}}
  <div class="row small-up-5">
    {{#each row as |imageData|}}
      <div class="column column-block">
        <ImageTile
          @imageId={{imageData.id}}
          @thumbnailUrl={{imageData.imageUrl}}
          @goToImageInfoPage={{imageData.goToImageInfoPage}}
        />
      </div>
    {{/each}}
  </div>
{{/each}}
