{{page-title "Gallery"}}

{{#each @model as |row|}}
  <div class="row small-up-5">
    {{#each row as |image|}}
      <div class="column column-block">
        <div class="tile">
          <img src="https://www.artic.edu/iiif/2/{{image}}/full/200,/0/default.jpg" />
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}