{{page-title "Gallery"}}

<div class="content-area">
  <div class="image-grid-container">
    <ImageGrid
      @rows={{@model.gridRows}}
      @columns={{@model.gridColumns}}
      @imageUrls={{@model.imageUrls}}
    />
  </div>
</div>