{{page-title "Gallery"}}

{{#each (repeat 5) as |empty|}}
  <div class="row small-up-5">
    {{#each (repeat 5) as |empty|}}
      <div class="column column-block">
          <div class="tile">Tile</div>
      </div>
    {{/each}}
  </div>
{{/each}}